.order-details{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px;
}

.order-Add-info{
    display: flex;
    justify-content: space-between;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
}

.order-Add-info-price,
.order-Add-info-count,
.order-Add-info-name{
    margin-right: 20px;
}