.Item-image{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 5px;
}

.Items{
    display: flex;
    align-items: center;
    width: 200px;
    padding: 25px;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 35px;
    margin-bottom: 25px;
    background-color: #918981;
}

.Items-info{
    display: flex;
    flex-direction: column;
}

.Item-name,
.Item-price {
    margin-right: 15px;
    margin-bottom: 10px;
    color: black;
}

.Items:active{
    background-color:  #D0CDC9;
    border-color: darkgray;
    transform: scale(0.9);
}