body{
  background-color: #4C5B6C;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.items-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 55px;
  background-color: #717B7F;
}
